<!DOCTYPE html>

<title>Order Notification</title>

{% block body %}
<h1>Votre Commande Messieurs Croquent !</h1>

<p>
    Veuillez nous excuser, votre commande ne pouvant etre traitée, elle a été annulée.
</p>
<br>
<p>
    Merci de votre compréhension.
</p>

{% endblock %}
