<!DOCTYPE html>

<title>Order Notification</title>


{% block body %}
<div style="font-family: Verdana, sans-serif">
<h1 style="text-align:center">Votre Commande Messieurs Croquent !</h1>

<p style="text-align:center">
    Bonjour, <br>
    Messieurs Croquent confirme que votre commande a bien été reçu et celle-ci est en cours de préparation.
</p>

<p style="text-align:center">
    Nous vous invitons à venir la récuperer d'ici 20min.
</p>

<p style="text-align:center">
    Préparez-vous à croquer !
</p>

<p style="text-align:center">
    Messieurs Croquent vous remercie de votre commande.
</p>

<img style="display:block; margin-left:auto; margin-right:auto " src="https://i.ibb.co/qBx3JLY/logo.png" alt="logo" border="0"></a>

</div>

{% endblock %}
