@use '../../../styles/vars';
@import '../../../styles/vars';


.product {
    padding: 1.2rem;
    &__category {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    &__container {
        @include m767 () {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1.3rem;
            margin-bottom: 2rem;
        }
        border-bottom: solid 1px vars.$color-primary;
        text-align: center;
        margin-bottom: 2rem;
    }
    &__image {
        @include m767 () {
            margin-bottom: 0;
        }
        margin-bottom: 1.5rem;
        width: 5rem;
        border: solid 5px vars.$color-primary;
        border-radius: .5rem;
    }
    &__description {
        margin-bottom: 1.2rem;
    }
    &__price {
        margin-bottom: 1.2rem;
    }
    &__add {
        border: none;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.6rem;
        border-radius: 50%;
        color: vars.$color-secondary;
        background-color: vars.$color-primary;
        padding: .4rem;
        margin-bottom: 1.2rem;
        &:hover {
            color: vars.$color-primary;
            background-color: vars.$color-secondary;
            border: solid 1px vars.$color-primary
        }
    }
    
}
