@use '../../../styles/vars';
@import '../../../styles/vars';

.presentation {
    @include m767 () {
        margin: 3rem auto;
    }
    max-width: 800px;
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding: 0 2rem;
    &__title {
        font-family: 'Amatic SC', cursive;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    &__container {
        @include m767 () {
            display: flex;
            justify-content: space-between;
        }
    }
    &__text {
        @include m767 () {
            width: 60%;
            margin: 0;
        }
        width: 100%;
        margin-bottom: 3rem;
    }
    &__image {
        @include m767 () {
            width: 30%;
        }
        width: 100%;
        max-width: 100%;
        border-radius: .5rem;
        border: 5px solid vars.$color-primary;
        box-shadow: 0 0 5px 1px vars.$color-primary;
    }
}

// @media (max-width: 650px) {
//     .home {
//         &__presentation {
//             margin: 2rem 0;
//         }
//         &__container {
//             display: block;
//         }
//         &__title {
//             padding-top: 4rem;
//             margin-bottom: 0;
//         }
//         &__description {
//             width: 100%;
//         }
//         &__image {
//             margin-top: 2rem;
//             width: 100%;
//             max-width: 100%;
//         }
//     }
// }