@use '../../../styles/vars';
@use 'sass:color';

.cardComponent{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     border: 1px solid black;
     width: 43%;
     min-width: 400px;
     margin: 2rem auto 00 auto;

     &__name{
          font-weight: bold;
          margin: 1rem;

     }
     &__info{

          & p{
               margin-bottom: 1rem;
          }  
     }


     

}
