@import 'src/styles/vars';

.footer {
    
        background: $color-primary;
        padding: 2rem;
        box-shadow: 0 0 30px 10px $color-primary;
        &__container {
            color: $color-secondary;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__schedule {
            margin: 1rem;
        }
        &__phone {
            margin: 1rem;
        }
        &__adresse {
            margin: 1rem;
        }
        &__infos {
            padding: .2rem 0;
            text-align: center;
        }
    
        &__socialnetwork {

            & ul {
                display: flex;
                width: 264px;
                margin-top: 2rem;
                justify-content: space-between;
        
                & li {
                font-size: 2rem;
                border-radius: 50%;
                padding: .5rem .5rem;
                transition: .3s;
                cursor: pointer;
                
                &:hover {
                    color: $color-primary;
                    background-color: $color-secondary ;
                }
            }
         }
     }
}





