.map{
    width:'100%';
     align-items:'center';
     align-self:'center';
    }
    Card{
        min-width:'570px';
         width: '80%';
          margin: 10px;
           min-height:360 ;
           margin:10 ;
    }
