@use '../../../styles/vars';
@import '../../../styles/vars';

.delivery {
        @include m767 () {
            padding-top: 4rem;
        }
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        height: 42.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    &__text {
        @include m767 () {
            margin: 2rem 0;
        }
        text-align: center;
        font-size: 1.5rem;
    }
    &__links {
        @include m767 () {
            display: flex;
        }
    }
    &__link {
        @include m767 () {
            padding: 2rem;
            margin: 0 1rem;
        }
        border: 5px solid vars.$color-primary;
        padding: 1rem;
        margin: 1rem auto;
        width: 80%;
        display: flex;
        border: 5px solid vars.$color-primary;
        border-radius: .5rem;
    }
    &__image {
        @include m767 () {
            filter: grayscale(100%);
        }
        height: 4rem;
        max-width: 100%;
        transition: .3s ease;
        &:hover {
            @include m767 () {
                filter: grayscale(0%);
            }
            filter: grayscale(100%);
            transform: scale(1.2);
        }
    }
}