@use '../../styles/vars';
@import '../../styles/vars';

.menu {
    @include m767 () {
        max-width: 800px;
        margin: 2rem auto;
    }
    padding: 2rem;
    &__title {
        font-family: 'Amatic SC', cursive;
        font-size: 5rem;
        text-align: center;
        margin-bottom: 3rem;
    }
}

.croque {
    margin-bottom: 2rem;
    &__header {
        @include m767 () {
            text-align: center;
            padding-left: 0;
        }
        background: vars.$color-primary;
        color: vars.$color-secondary;
        font-family: 'Amatic SC', cursive;
        font-size: 2rem;
        padding: .5rem 0;
        position: relative;
        padding-left: 2rem;
    }
    &__main {
        @include m767 () {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        border: 1px dashed vars.$color-primary;
        padding: 2rem;
        
    }
    &__products {
        @include m767 () {
            width: 45%;
        }
        width: 100%;
        margin-bottom: 1rem;
    }
    &__product {
        display: flex;
        justify-content: space-between;
    }
    &__name, &__price {
        font-weight: bold;
    }
    &__description {
        font-size: .8rem;
    }
}

.formule {
    &__header {
        @include m767 () {
            text-align: center;
            padding-left: 0;
        }
        background: vars.$color-primary;
        color: vars.$color-secondary;
        font-family: 'Amatic SC', cursive;
        font-size: 2rem;
        padding: .5rem 0;
        padding-left: 5rem;
        position: relative;
        &--small {
            @include m767 () {
                font-size: 1.5rem;
            }
            font-size: 1.2rem;
        }
        &--left {
            @include m767 () {
                text-align: center;
                padding-left: 0;
            }
            background: vars.$color-primary;
            color: vars.$color-secondary;
            font-family: 'Amatic SC', cursive;
            font-size: 2rem;
            padding: .5rem 0;
            padding-left: 6rem;
            position: relative;
        }
    }
    &__main {
        margin-bottom: 3rem;
    }
}

.croqueFormule {
    @include m767 () {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    padding: 2rem;
    &__container {
        @include m767 () {
            width: 45%;
        }
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        align-items: center;
    }
    &__product {
        margin-left: 1rem;
        width: 100%;
    }
    &__detail {
        display: flex;
        justify-content: space-between;
    }
    &__picture {
        max-width: 100%;
    }
    &__name, &__price {
        font-weight: bold;
        margin-bottom: .2rem;
    }
    &__description {
        font-size: .8rem;
    }
}

.trimming {
    @include m767 () {
        align-items: center;
        justify-content: space-around;
    }
    display: flex;
    flex-wrap: wrap;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    &__text {
        @include m767 () {
            width: 20%;
            margin-bottom: 0;
        }
        width: 100%;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    &__container {
        @include m767 () {
            width: 20%;
            margin-bottom: 0;
        }
        width: 50%;
        margin-bottom: 1rem;
    }
    &__picture {
        max-width: 100%;
    }
    &__detail {
        font-size: 1.7rem;
    }

}

.extra {
    font-family: 'Amatic SC', cursive;
    margin-top: 4rem;
    border: 1px dashed vars.$color-primary;
    display: flex;
    position: relative;
    &__title {
        position: absolute;
        background: vars.$color-primary;
        width: 25%;
        padding: .5rem;
        color: vars.$color-secondary;
        text-align: center;
        font-size: 1.7rem;
        left: 50%;
        top: 0;
        transform: translate(-50%, -70%);
    }
    &__container {
        width: calc(100%/3);
        border-right: 1px dashed vars.$color-primary;
        margin: 1rem 0;
        padding: 3rem 0;
        position: relative;
        &--other {
            width: calc(100%/3);
            margin: 3rem 0;
            padding: 3rem 0;
            position: relative;
        }
    }
    &__price {
        @include m767 () {
            top: 20%;
            left: 33%;
        }
        background: vars.$color-primary;
        color: vars.$color-secondary;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        padding: .5rem;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        transform: rotate(-20deg);
        position: absolute;
        top: 20%;
        left: 15%;
        z-index: 1;
        &--other {
            @include m767 () {
                left: 25%;
            }
            background: vars.$color-primary;
            color: vars.$color-secondary;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            padding: .5rem .1rem;
            font-size: 1.3rem;
            transform: rotate(20deg);
            position: absolute;
            top: 0;
            left: 15%;
            z-index: 1;
        }
    }
    &__picture {
        position: absolute;
        height: 4rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__text {
        @include m767 () {
            right: 20%;
            bottom: 20%;
        }
        position: absolute;
        right: 15%;
        bottom: 13%;
        font-size: 1.5rem;
        font-weight: bold;
        z-index: 1;
        &--other {
            @include m767 () {
                right: 10%;
                bottom: 0;
            }
            position: absolute;
            right: 8%;
            bottom: -13%;
            font-size: 1.5rem;
            font-weight: bold;
            z-index: 1;
        }
        &--small {
            font-size: .9rem;
        }
    }
}

.moment {
    @include m767 () {
        flex-direction: row;
        padding: 2rem 0;
        padding-bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
    &__container {
        @include m767 () {
            width: calc(100% / 3);
            margin-bottom: 0;
            border-right: 1px dashed vars.$color-primary;
            border-bottom: none;
        }
        text-align: center;
        margin-bottom: 1rem;
        border-bottom: 1px dashed vars.$color-primary;
        &--other {
            @include m767 () {
                width: calc(100% / 3);
            }
            text-align: center;
        }
    }
    &__text {
        @include m767 () {
            margin-bottom: 0;
        }
        font-family: 'Amatic SC', cursive;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    &__picture {
        &--chips {
            transform: rotate(-10deg);
            height: 4rem;
            z-index: -1;
        }
        &--nugget {
            height: 3rem;
            margin-right: .5rem;
        }
    }
    &__subcontainer {
        @include m767 () {
            margin-bottom: 0;
        }
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__detail {
        @include m767 () {
            width: 60%;
        }
        text-align: left;
        font-size: .8rem;
        line-height: 1.2;
        
    }
}

.planche {
    @include m767 () {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    font-family: 'Amatic SC', cursive;
    padding: 2rem;
    position: relative;
    &__text {
        @include m767 () {
            width: 40%;
        }
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__picture {
        @include m767 () {
            width:40%;
        }
        width: 100%;
    } 
    &__price {
        @include m767 () {
            bottom: 25%;
        }
        text-align: center;
        background: vars.$color-primary;
        color: vars.$color-secondary;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        padding: .7rem 0;
        font-size: 1.5rem;
        transform: rotate(20deg);
        position: absolute;
        bottom: 22%;
        right: 10%;
        z-index: 1;
    }  
}

.st0 {
    fill: vars.$color-primary;
}

.st1 {
    fill: vars.$color-secondary;
}

#croc {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#croc-reverse-min {
    @include m767 () {
        height: 100%;
    }
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(180deg) translateX(.6%);
}

#croc-reverse {
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(180deg) translateX(.6%);
}