@use '../../../styles/vars';
@import '../../../styles/vars';

.local {
    background: vars.$color-primary;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__text {
        max-width: 800px;
        text-align: center;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.3;
        padding: 2rem;
    }
    &__button {
        background: transparent;
        font-size: 1.3rem;
        padding: .5rem 1rem;
        color: #FFF;
        border-radius: .3rem;
        border: 1px solid #FFF;
        &:hover {
            background: #FFF;
            color: vars.$color-primary;
            border: 1px solid transparent;
        }
    }
}

#bigTriangleShadow {
    fill: vars.$color-primary;
}