@use '../../styles/vars';
@import '../../styles/vars';

.validation__container {
    color: green;
    font-size: 10rem ;
}
.validation__button {
    margin-top: 2rem;
    padding: .7rem 2.5rem;
    background: vars.$color-primary;
    color: vars.$color-secondary;
    border: solid 3px transparent;
    border-radius: .5rem;
    font-size: 1.2rem;
    transition: .3s ease;
    &:hover {
        color: vars.$color-primary;
        background: vars.$color-secondary;
        border: solid 3px vars.$color-primary;
    }
}