@use 'sass:color';

$color-background: #282A36;
$color-sidebar: #21222C;
$color-primary: #BD93F9;
$color-primary-hover: color.scale($color-primary, $lightness: -20%);
$color-light: #FFF;
$color-danger: #e52d27;
$color-danger-hover: color.scale($color-danger, $lightness: -20%);