@use '../../styles/vars';
@import '../../styles/vars';

.product {
    max-width: 1200px;
    margin: 16vh auto 4rem auto;
    &__description--td {
        @include m767 {
            display: block;
        }
        display: none;
    }
    &__category--th {
        @include m767 {
            display: block;
        }
        display: none;
    }
    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        color: vars.$color-light;
    }
    &__container {
        background: vars.$color-lightness;
        border-radius: .5rem;
        padding: 2rem;
        box-shadow: inset 0 0 15px 5px vars.$color-primary;
    }
    &__byCategory {
        margin-bottom: 2rem;
    }
    &__titleCategory {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__image {
        max-width: 100%;
        vertical-align: middle;
        border-radius: .5rem;
        &--none {
            display: none;
            width: 10%;
        }
        &--td {
            width: 10%;
        }
        &--th {
            padding: 1rem 0;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
    &__dish {
        margin-left: 1rem;
        font-weight: bold;
        &--td {
            width: 15%;
        }
        &--th {
            padding: 1rem 0;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
    &__category {
        @include m767 {
            margin-left: 1rem;
            display:block;
            &--td {
                width: 15%;
            }
            &--th {
                padding: 1rem 0;
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        margin-left: 1rem;
        display: none;
        &--td {
            width: 15%;
        }
        &--th {
            padding: 1rem 0;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
    &__description {
        @include m767 {
            display: block;
            margin-left: 1rem;
            font-size: .9rem;
            &--td {
                width: 100%;
            }
            &--th {
                padding: 1rem 0;
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        display: none;
    }
    &__price {
        text-align: center;
        &--td {
            width: 5%;
        }
        &--th {
            padding: 1rem 0;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
    &__status {
        @include m767 {
            margin-left: 2.2rem;
            padding: 0;
        }
        margin-left: 0;
        padding: 0 1rem;
        &--td {
            width: 10%;
        }
        &--th {
            @include m767 {
            
            }
            padding: 1rem 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
    &__delete {
        background: vars.$color-danger;
        color: vars.$color-light;
        border: none;
        border-radius: .5rem;
        padding: .5rem .5rem;
        font-size: 1.2rem;
        &:hover {
            background: vars.$color-danger-hover;
        }
        &--td {
            width: 10%;
            text-align: center;
        }
        &--th {
            padding: 1rem 0;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}

tbody {
    border-bottom: 1px solid vars.$color-background;
}

.ui.checkbox {
    z-index: 0;
}