@use '../../../styles/vars';
@import '../../../styles/vars';

.carousel {
    @include m767 () {
        height : 85vh;
    }
    height: 25vh;
    &__container {
        height: 100%;
    }
    &__image {
        max-width: 100%;
    }
}

ul {
    &.thumbs {
        text-align: center;
    }
}