@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&display=swap');

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

a:hover {
  color: vars.$color-secondary;
}